@model DeleteProductCategoryViewModel
    <h3>Вы уверены, что хотите удалить категорию товаров "@Model.CategoryName"</h3>
<form asp-action="DeleteCategory" asp-controller="Product" method="post">
    <input type="hidden" asp-for="@Model.CategoryId" />
    <input type="submit" value="Да" class="btn btn-danger" />
    <a class="btn btn-secondary" asp-action="Categories" asp-controller="Product">Нет</a>
</form>
